<div cdkDropListGroup>
    <div class="row">
        <div class="col-md-4">
            <div class="example-container">
                <h3>To do</h3>
                <app-todo-item [todoList]="todo" (todoValueChange)="valueChangesOnTodo($event)"></app-todo-item>
            </div>
        </div>
        <div class="col-md-4">
            <div class="example-container">
                <h3>In progress</h3>
                <app-inprogress-item [inprogressList]="inprogress" (todoValueChange)="valueChangesOnTodo($event)"></app-inprogress-item>
            </div>
        </div>
        <div class="col-md-4">
            <div class="example-container">
                <h3>Done</h3>
                <app-done-item [doneList]="done" (todoValueChange)="valueChangesOnTodo($event)"></app-done-item>
            </div>
        </div>
    </div>
</div>