
.cdk-placeholder-container{
    height : 100vh;
    border: 1px solid #ccc;
    padding: 0px 15px;
}


.todo-list__item{
    border: 1px solid #ccc;
    padding: 5px 10px;
    box-shadow: 0px 1px 5px #CCC;
    margin: 15px 0px;
    .todo-list__item-title{
      word-break: break-all;
    }
}

.f-right{
    float: right;
}