::ng-deep .b-a.mat-input-element{
    border: 1px solid #ccc !important;
    padding: 2px 10px !important;
  }

  .color-circle{
    height: 10px;
    border:1px solid #ccc;
    border-radius: 50%;
    width: 10px;

    &.black{
      background: #000;
    }
    &.white{
      background: #fff;
    }
    &.red{
      background: rgb(255, 0, 0);
    }
    &.orange{
      background: rgb(255, 132, 0);
    }
    &.green{
      background: rgb(61, 255, 135);
    }
    &.blue{
      background: rgb(50, 50, 247)
    }
    &.yellow{
      background: rgb(238, 255, 0);
    }
  }