<form [formGroup]="todoListForm" (ngSubmit)="addTodo()">
    <mat-form-field class="example-full-width">
        <input matInput formControlName="input" #inputTodo placeholder="Have anything to do ??">
        <mat-error>
            This field is required
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Choose an option</mat-label>
        <mat-select formControlName="option">
            <mat-option value="todo">Todo</mat-option>
            <mat-option value="inprogress">In Progress</mat-option>
            <mat-option value="done">Done</mat-option>
        </mat-select>
        <mat-error>
            This field is required
        </mat-error>
    </mat-form-field>
    <button mat-raised-button class="ml-3" type="submit" color="primary">
        <mat-icon>
            add
        </mat-icon>
        Add
    </button>
</form>