/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.material-shadow { box-shadow: 0px 1px 3px #ccc }

button:focus {
    outline: none !important;
}

.py-44{
    padding-top: 44px;
    padding-bottom: 44px;
}

.m-0{
    margin: 0px;
}